.DS_Store
.idea
.vscode
*.pyc
.env.prod
.env.prod.db
html5/static/
html5/accounts/migrations/
html5/html5cda/migrations/
html5/html5dicom/migrations/
html5/html5voc/migrations/
html5/proxyrest/migrations/
