<div id="studyViewerTemplate" class="tab-pane active hidden" style="height:100%">

    <div class="studyContainer" style="height:100%;overflow:hidden;">
        <div class="studyRow row" style="height:100%">

            <!-- Thumbnails -->
            <div class="thumbnailSelector">
                <div class="thumbnails list-group">
                </div>
            </div>
            <!-- Viewer -->
            <div class="viewer hidden">
                <!-- Toolbar -->
                <div class="text-center" >
                    <div class="btn-group">
                        <!-- WW/WL -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="WW/WC"><span class="fa fa-sun-o"></span></button>
                        <!-- Invert -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Invert"><span class="fa fa-adjust"></span></button>
                        <!-- Zoom -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Zoom"><span class="fa fa-search"></span></button>
                        <!-- Pan -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Pan"><span class="fa fa-arrows"></span></button>
                        <!-- Stack scroll -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Stack Scroll"><span class="fa fa-bars"></span></button>
                        <!-- Length measurement -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Length Measurement"><span class="fa fa-arrows-v"></span></button>
                        <!-- Angle measurement -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Angle Measurement"><span class="fa fa-angle-left"></span></button>
                        <!-- Pixel probe -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Pixel Probe"><span class="fa fa-dot-circle-o"></span></button>
                        <!-- Elliptical ROI -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Elliptical ROI"><span class="fa fa-circle-o"></span></button>
                        <!-- Rectangle ROI -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Rectangle ROI"><span class="fa fa-square-o"></span></button>
                        <!-- Play clip -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Play Clip"><span class="fa fa-play"></span></button>
                        <!-- Stop clip -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Stop Clip"><span class="fa fa-stop"></span></button>
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-container='body' data-toggle="dropdown" aria-expanded="false" data-placement="top" title="Layout"><span class="fa fa-th-large"></span></button>
                        <ul class="pull-right dropdown-menu choose-layout" role="menu">
                            <li><a href="#">1x1</a></li>
                            <li><a href="#">2x1</a></li>
                            <li><a href="#">1x2</a></li>
                            <li><a href="#">2x2</a></li>
                        </ul>
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Exit"><span class="fa fa-close"></span></button>
                    </div>
                </div>

                <!-- Viewer -->
                <div class="imageViewer">

                </div>
            </div>
            <!-- Editor -->
            <link class="editor">
                {% block extraheadscript %}
                    <link href="#">
                    {% for headscript in context.headscripts %}
                        {{ headscript.script.html|safe }}
                    {% endfor %}
                {% endblock %}
                </head>
                <form>
                    <header>
                        <input type="hidden" name="PatientIDIssuer" value="1.2.3"/>
                        <table>
                            <tr>
                                <td class="td1">
                                    PACIENTE id:
                                    <input class="headerId" name="PatientID" type="text" disabled="disabled" value="50637300"/>
                                    <button name="PatientInfo" type="submit" title="más información demográfica sobre el paciente"> más info </button>
                                    nacido:
                                    <input class="headerDate" name="PatientBirthDate" type="text" disabled="disabled" value="19650123"/>
                                    sexo:
                                    <input class="headerMod" name="PatientSex" type="text" disabled="disabled" value="M"/>
                                    apellidos^n.:
                                </td>
                                <td class="td2">
                                    <input class="headerName" name="PatientName" type="text" disabled="disabled" value="Fauquex^Jacques"/>
                                </td>
                            </tr>
                        </table>
                    </header>
                    <header>
                        <input type="hidden" name="StudyIUID" value="1.2.3"/>
                        <input type="hidden" name="accessionNumberOID" value="1.2.3"/>
                        <table>
                            <tr>
                                <td class="td1">
                                    ESTUDIO an:
                                    <input class="headerId" name="AccessionNumber" type="text" disabled="disabled" value="50637300"/>
                                    <button name="StudyInfo" type="submit" title="más información sobre el estudio">más info</button>
                                    fecha :
                                    <input class="headerDate" name="StudyDate" type="text" disabled="disabled" value="20160715" title="fecha estudio"/>
                                    mod.:
                                    <input class="headerMod" name="Modality" type="text" disabled="disabled" value="CT"/>
                                    descripción:
                                </td>
                                <td class="td2">
                                    <input class="headerName" name="StudyDescription" type="text" value="displayNameDelProcedimiento"/>
                                </td>
                            </tr>
                        </table>
                    </header>
                    <header>
                        <input type="hidden" name="templateID" value="1.2.3"/>
                        <table>
                            <tr>
                                <td class="td1">
                                    PLANTILLA:
                                    <select name="modalidad">
                                        <option value="CR">CR</option>
                                        <option value="CT">CT</option>
                                    </select>
                                    <select name="estudio">
                                        <option value="code^codeSystem^codeSystemName">displayNameProcedimiento</option>
                                        <option value="code^codeSystem^codeSystemName">displayNameProcedimiento</option>
                                    </select>
                                    <!--copiar displayNameProcedimiento seleccionado en descripción-->
                                </td>
                                <td class="td2">
                                    <select name="plantilla">
                                        <option value="plantillaID" title="plantillaDescription">plantillaNombre</option>
                                        <option value="plantillaID" title="plantillaDescription">plantillaNombre</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </header>
                    {% for seccion in context.secciones %}
                        {{ seccion.articlehtml.html|safe }}
                    {% endfor %}
                    {% for bodyscript in context.bodyscripts %}
                        <p>asa</p>
                        {{ bodyscript.script.html|safe }}
                    {% endfor %}
                </form>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
