<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <script type="text/javascript" charset="utf8" src="{% static 'html5cda/datatables/js/jquery-2.1.4.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'html5cda/datatables/css/jquery.dataTables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'html5cda/css/jquery-ui.css' %}">
    <script type="text/javascript" charset="utf8" src="{% static 'html5cda/datatables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'html5cda/js/utilidades.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'html5cda/js/jquery-ui.js' %}"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $('#search_start').datepicker({dateFormat:"yy-mm-dd"}).datepicker("setDate",new Date());
			$('#search_start').datepicker( "setDate" , -1 ).val();
			$('#search_end').datepicker({dateFormat:"yy-mm-dd"}).datepicker("setDate",new Date());
        });
        $(window).load( function() {
            var table = $('#table_study').DataTable({
                'bFilter'       : false,
                'paging'        : true,
                'bLengthChange' : false,
                'pageLength'    : 8,
                'processing'    : true,
                'serverSide'    : true,
                'bInfo'         : false,
                'bSort'         : false,
                'ajax': {
                    "type"   : "GET",
                    "url" : '{% url 'ajax_table_study' %}',
                    "data"   : function( d ) {
                        d._00100020= $('#search_id').val();
                        d._00100010= $('#search_name').val();
                        d._00080020= $('#search_start').val().replace(/-/g, '') + '-' +$('#search_end').val().replace(/-/g, '');
                        d._00080061= $('#modality').val();
                        d.search_status= $('#search_status').val();
                        /*d.sessionrest= '{{ sessionrest }}';
                        d.user_rest= '{{user_rest}}';
                        d.institution= '{{institution}}';*/
                    },
                    "dataSrc": "data"
                },
                'language'      : {
                    'url': "{% static 'html5cda/datatables/i18n/Spanish.json' %}"
                }

            });
        });
        $(function(){
            $('input').keypress(function (event) {
      		    if (event.keyCode == 10 || event.keyCode == 13) {
      			    var table = $('#table_study').DataTable();
	                /*var rows = table
    	                .rows()
                        .remove()
    	                .draw();*/
                    table.ajax.reload();
        		    event.preventDefault();
      		    }
    	    });
    	    $('#search_start').datepicker({
			    inline: true
		    });
		    $('#search_end').datepicker({
			    inline: true
		    });
            $( "#search_data" ).click(function() {
                var table = $('#table_study').DataTable();
	            /*var rows = table
    	            .rows()
                    .remove()
    	            .draw();*/
                table.ajax.reload();
            });
            $( "#dialog-series" ).dialog({
      		    autoOpen: false,
      		    height: 500,
      		    width: 750,
      		    modal: true,
      		    buttons: {
        		    Ok: function() {
          			    $( this ).dialog( "close" );
        		    }
      		    },
      		    beforeClose: function( event, ui ) {
      		        var table_series = $('#table_series').DataTable();
        		    /*var rows = table_series
    	                .rows()
                        .remove()
    	                .draw();*/
    	            table_series.destroy();
      		    }
    	    });
    	    view_xml = function (studyUID, seriesUID, objectUID){
    	        window.open('/html5cda/xml/'+ studyUID +'/'+ seriesUID +'/'+ objectUID,'_blank');
    	    };
    	    report = function (studyUID){
    	        window.open('/html5cda/report_editor/' + studyUID ,'_blank');
    	    };
    	    series = function (studyuid, patientname, studydescription){
    	        $('#dialog-series').dialog('option', 'title', 'Series '+ patientname +' - '+ studydescription );
                $('#dialog-series').dialog( "open" );
                var table_series = $('#table_series').DataTable({
                    'bFilter'       : false,
                    'paging'        : true,
                    'bLengthChange' : false,
                    'pageLength'    : 5,
                    'processing'    : true,
                    'serverSide'    : true,
                    'bInfo'         : false,
                    'bSort'         : false,
                    'ajax': {
                        "type"   : "GET",
                        "url"    : '{% url 'ajax_table_series' %}',
                        "data"   : function( d ) {
                            d.studyuid= studyuid;
                            /*d.sessionrest= '{{ sessionrest }}';
                            d.user_rest= '{{user_rest}}';
                            d.institution= '{{institution}}';*/
                        },
                        "dataSrc": "data"
                    },
                    'language'      : {
                        'url': "{% static 'html5cda/datatables/i18n/Spanish.json' %}"
                    }
                });
    	    };
        });
    </script>
    <title></title>
</head>
<body>
    <div style="background:#CCCCCC; width:auto; height:37px; text-align:center;padding-top:25px;" >
        <input style="width:15%" type="search" results="20" autosave="saved-id" id="search_id" placeholder="Documento" name="search_id" value=""/>
		<input style="width:15%" type="search" results="20" autosave="saved-nombres" id="search_name" placeholder="Nombre" name="search_name" value=""/>
		<input style="width:15%" type="date" id="search_start" name="search_start" />
		<input style="width:15%" type="date" id="search_end" name="search_end" />
        <select id="modality" name="modality" style="width:10%;">
            <option value="CR">CR</option>
            <option value="CT">CT</option>
        </select>
        <select id="search_status" name="search_status" style="width:18%;">
  				<option value="all">Ver Todos Los Estudios</option>
  				<option value="informed">Ver Solo Estudios Informados</option>
  				<option value="authenticate">Ver Estudios Con Informe Por Autenticar</option>
  				<option value="unauthenticated">Ver Estudios No Informados</option>
		</select>
        <input style="width:5%" id="search_data" type="button" value="Buscar"/>
	</div>
    <table id="table_study" class="display">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
			    <th>Documento</th>
                <th>Nombre</th>
                <th>Informador</th>
                <th>Modalidad</th>
                <th>Estudio</th>
                <th>Fecha Estudio</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="dialog-series" title="Series" >
        <table id="table_series">
	        <thead>
		        <tr>
        	        <th>Descripcion</th>
        	        <th>Parte</th>
        	        <th>Serie #</th>
        	        <th>Nombre Estación</th>
        	        <th>Fecha</th>
                    <th></th>
       	        </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
</html>