{% extends "html5dicom/base.html" %}
{% block title %} Main Menu {% endblock %}
{% block navbar %}
    {% include "html5dicom/navbar.html" %}
{% endblock %}
{% block content %}
    {% include "html5dicom/tab.html" %}
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <link href='{% static "html5dicom/datatables/datatables.min.css" %}' rel="stylesheet">
    <link href='{% static "html5dicom/datatables/responsive.dataTables.min.css" %}' rel="stylesheet">
    <link href='{% static "html5dicom/datatables/select.dataTables.min.css" %}' rel="stylesheet">
    <script type="text/javascript" src='{% static "html5dicom/datatables/datatables.min.js" %}'></script>
    <script type="text/javascript" src='{% static "html5dicom/datatables/dataTables.responsive.min.js" %}'></script>
    <script type="text/javascript" src='{% static "html5dicom/datatables/dataTables.select.min.js" %}'></script>
    <style>
        .toolbar {
            float:left;
        }
        .toolbarseries {
            float:left;
        }
    </style>
    <script>
        var organization = {{organization|safe}};
        $(document).ready(function() {
            load_inst();
            load_rol();
        });
        $('#org_select').on('change', function() {
           load_inst();
           $('#inst_select').trigger("change");
           $('.selectpicker').selectpicker('refresh');
        });
        $('#inst_select').on('change', function() {
           load_rol();
           $('.selectpicker').selectpicker('refresh');
        });
        $('#rol_select').on('change', function() {
           var oid = organization[$('#org_select').val()].institution[$('#inst_select').val()].oid;
           var service = organization[$('#org_select').val()].institution[$('#inst_select').val()][$('#rol_select').val()].service;
           var max_rows = organization[$('#org_select').val()].institution[$('#inst_select').val()][$('#rol_select').val()]['max_rows'];
           addTableStudy($('#org_select').val(), $('#inst_select').val(), oid, $('#rol_select').val(), service.toString(), max_rows, '');
        });
        function load_inst(){
            var options = '';
            for(var key in organization[$('#org_select').val()].institution) {
                $('#inst_select').empty();
                options += '<option value="' + key + '">' + key + '</option>';
                $('#inst_select').html(options);
            }
        }
        function load_rol(){
            var options = '';
            for(var key in organization[$('#org_select').val()].institution[$('#inst_select').val()]) {
                $('#rol_select').empty();
                if(key != 'aet' && key != 'oid'){
                    options += '<option value="' + key + '">' + key + '</option>';
                }
                $('#rol_select').html(options);
            }
            $('#rol_select').trigger("change");
        }
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);
    </script>
{% endblock %}
