{% extends "html5dicom/base.html" %}
{% block title %} Main Patient {% endblock %}
{% block navbar %}
    {% include "html5dicom/patient_navbar.html" %}
{% endblock %}
{% block content %}
    {% include "html5dicom/patient_tab.html" %}
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <link href='{% static "html5dicom/datatables/datatables.min.css" %}' rel="stylesheet">
    <link href='{% static "html5dicom/datatables/responsive.dataTables.min.css" %}' rel="stylesheet">
    <link href='{% static "html5dicom/datatables/select.dataTables.min.css" %}' rel="stylesheet">
    <script type="text/javascript" src='{% static "html5dicom/datatables/datatables.min.js" %}'></script>
    <script type="text/javascript" src='{% static "html5dicom/datatables/dataTables.responsive.min.js" %}'></script>
    <script type="text/javascript" src='{% static "html5dicom/datatables/dataTables.select.min.js" %}'></script>
    <style>
        .toolbar {
            float:left;
        }
        .toolbarseries {
            float:left;
        }
    </style>
    <script>
        var organization = {{ organization | safe }}
        var org = organization.name;
        var inst = organization.institution.name;
        var oid = organization.institution.oid;
        var patientID = organization.patientID;
        var service = 'Todos';
        var max_rows = 100;
        addTableStudy(org, inst, oid, 'Medico', service, max_rows, patientID, organization.config_toolbar);

        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
            dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);
    </script>
{% endblock %}
