{% load staticfiles %}
<br>
<hr/>

<div class="container-fluid">
    <ul class="nav nav-pills nav-justified" id="options-tabs">
    </ul>
    <div class="tab-content">
    </div>
</div>
<script>
    addTab = function (institution, role, service){
        $("#options-tabs").empty();
        $(".tab-content").empty();
        var nextTab = $('#options-tabs li').size()+1;
        var divStartTabPane = '<div class="tab-pane fade in active" id="tab'+nextTab+'">';
        var divEndTabPane = '</div>';
        var service_arr = service.split(',');
        var service_options = '';
        for(var i = 0; i < service_arr.length; i++){
            service_options += '<option value="service_arr[i]">service_arr[i]</option>';
        }
        var ContentTabPane = `{% include "html5dicom/tab_study.html" %}`;

  	    $('<li><a href="#tab'+nextTab+'" data-toggle="tab">'+ role +' - '+ institution +'</a></li>').appendTo('#options-tabs');
  	    $(divStartTabPane + ContentTabPane  + divEndTabPane ).appendTo('.tab-content');
  	    $('#options-tabs a:last').tab('show');

        $('#table_study thead th').each( function () {
            var title = $('#table_study tfoot th').eq( $(this).index() ).text();
            if (title != '') {
                $(this).html('<input type="text" placeholder="'+title+'"/>');
            }
        });

  	    var table = $('#table_study').DataTable({
  	        'columnDefs'    : [
  	            {'width': '5%'}
  	        ],
            'bFilter'       : true,
            'paging'        : true,
            'processing'    : true,
            'bInfo'         : true,
            'autoWidth'     : false,
            'language'      : {
                'url': "{% static 'html5dicom/datatables/i18n/Spanish.json' %}"
            },
            'oLanguage': {
                'sSearch': 'Accession number : '
            },
            'dom': '<"toolbar">frtip'
        });
        var select_pcs = `
            <label class="control-label" for="pcs">Custodio :</label>
                <select class="form-control" id="pcs" disabled>
                    <option value="default">Default</option>
                </select>
            <label class="control-label" for="ae">AET :</label>
                <select class="form-control" id="ae" disabled>
                    <option value="default">Default</option>
                </select>
                `;
        $("div.toolbar").html(select_pcs);

        table.columns().eq( 0 ).each( function ( colIdx ) {
            $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
                table
                    .column( colIdx )
                    .search( this.value )
                    .draw();
                } );
        } );

    }
</script>
