{% load staticfiles %}
<div class="container-fluid" id="table-container">
</div>
<script>
    addTableStudy = function (org, inst, role, service){
        $("#table-container").empty();
        var service_arr = service.split(',');
        var service_options = '<select class="control-label" id="modalities"><option value="'+ service +'">Todos</option>';
        for(var i = 0; i < service_arr.length; i++){
            service_options += '<option value="' + service_arr[i]+ '">' + service_arr[i] + '</option>';
        }
        service_options += '</select>';
        var ContentTabPane = `{% include "html5dicom/tab_study.html" %}`;
  	    $(ContentTabPane).appendTo('#table-container');
        $('#table_study thead th').each( function () {
            var title = $('#table_study tfoot th').eq( $(this).index() ).text();
            if (title != '') {
                if (title == 'Modalidades'){
                    $(this).html(service_options);
                }else if(title == 'Fecha'){
                    $(this).html('<input type="date" value="'+ new Date().toISOString().slice(0, 10) +'"/>');
                }else{
                    $(this).html('<input type="text" placeholder="'+title+'"/>');
                }
            }
        });
  	    var table = $('#table_study').DataTable({
  	        "columnDefs": [
            {
                "targets": 1,
                "render": function ( data, type, full, meta ) {
                    return '<a href=# onclick="showTableSeries(\'{{ httpdicom }}/'+ data +'\')"><spam class="glyphicon glyphicon-folder-open" title="Series"></spam></a>';
                }
            },
            {
                "targets": 2,
                "render": function ( data, type, full, meta ) {
                    if(data != '*' && role == 'Radiologo'){
                        return '<a href='+ data +'><spam class="glyphicon glyphicon glyphicon-edit" title="Editor"></spam></a>';
                    }else{
                        return '';
                    }
                }
            },
  	        {
                "targets": 3,
                "render": function ( data, type, full, meta ) {
                    var patient_id = data.substring(data.indexOf("PatientID=") + 10,data.indexOf("&IssuerOfPatientID"));
                    return '<button class="btn btn-default btn-xs" type="button" onclick="showTablePatient(\'{{ httpdicom }}/'+ data +'\')"><span class="glyphicon glyphicon-search"></span> '+ patient_id +'</button>';
                }
            },
            {
                "targets": 4,
                "render": function ( data, type, full, meta ) {
                    var  nom = data.replace(/\^NULL/g, '')
                    return nom;
                }
            },
            {
                "targets": 5,
                "render": function ( data, type, full, meta ) {
                    if(data.length == 8){
                        return data.substring(6,8) + '-' + data.substring(4,6) + '-' + data.substring(0,4);
                    }else{
                        return data;
                    }
                }
            },
            {
                "targets": 6,
                "render": function ( data, type, full, meta ) {
                    var modalities = data.split('\\');
                    var ot_ico = '';
                    var doc_ico = '';
                    var mod_str = '';
                    for(modality in modalities){
                        if(modalities[modality] == 'OT'){
                            ot_ico += '<a href="{{ httpdicom }}/applicable/OT/EncapsulatedDocument?AccessionNumber='+ full[13] +'" target="_blank"><span class="glyphicon glyphicon-list-alt" title="Solicitud"></span></a>';
                        }else if(modalities[modality] == 'DOC'){
                            doc_ico += '<a href="{{ httpdicom }}/applicable/DOC/EncapsulatedDocument?AccessionNumber='+ full[13] +'" target="_blank"><span class="glyphicon glyphicon-check" title="Informe"></span></a>';
                        }else{
                            mod_str += modalities[modality];
                        }
                    }
                    return ot_ico + ' ' + doc_ico + ' ' + mod_str;
                }
            }
            ],
  	        'pageLength'    : 10,
  	        'order'         : false,
            'language'      : {
                'url': "{% static 'html5dicom/datatables/i18n/Spanish.json' %}"
            },
            "dom": '<"toolbar">frtip',
            initComplete: function(){
                $("div.toolbar")
                    .html('<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span> Buscar</button>');
                },
            'processing'    : true,
            'serverSide'    : true,
            'ajax': {
                    "type"   : "GET",
                    "url" : '{{ httpdicom }}/datatables/studies?session={{ request.session.session_key}}',
                    "dataType": "jsonp",
                    "dataSrc": "data",
                    "data"   : function( d ) {
                        d.max = 20;
                    }
                }
        });
        table.columns().eq( 0 ).each( function ( colIdx ) {
            $('input', table.column( colIdx ).header() ).on( 'keyup change', function () {
                table
                    .column( colIdx )
                    .search( this.value )
                    .draw();
                } );
            $('select', table.column( colIdx ).header() ).on( 'keyup change', function () {
                table
                    .column( colIdx )
                    .search( this.value )
                    .draw();
                } );
        } );

        $('#dialog-series').dialog({
            autoOpen: false,
            height: 500,
            width: 750,
            modal: true,
            buttons: {
                Ok: function() {
                    $( this ).dialog( "close" );
                }
            },
            beforeClose: function( event, ui ) {
                var table_series = $('#table_series').DataTable();
                table_series.destroy();
            }
        });

        $('#dialog-patient').dialog({
            autoOpen: false,
            height: 500,
            width: 750,
            modal: true,
            buttons: {
                Ok: function() {
                    $( this ).dialog( "close" );
                }
            },
            beforeClose: function( event, ui ) {
                var table_patient = $('#table_patient').DataTable();
                table_patient.destroy();
            }
        });
    }
    showTableSeries = function(url){
        $('#dialog-series').dialog('option', 'title', 'Series');
        $('#dialog-series').dialog( "open" );
        var table_series = $('#table_series').DataTable({
            'bFilter'       : false,
            'paging'        : true,
            'bLengthChange' : false,
            'pageLength'    : 5,
            'processing'    : true,
            'serverSide'    : true,
            'bInfo'         : false,
            'bSort'         : false,
            'ajax': {
                "type"   : 'GET',
                "url"    : url,
                "dataType": "jsonp",
                "dataSrc": "data"
            },
            'language'      : {
                'url': "{% static 'html5dicom/datatables/i18n/Spanish.json' %}"
            }
        });
    }
    showTablePatient = function(url){
        $('#dialog-patient').dialog('option', 'title', 'Paciente');
        $('#dialog-patient').dialog( "open" );
        var table_patient = $('#table_patient').DataTable({
            'bFilter'       : false,
            'paging'        : true,
            'bLengthChange' : false,
            'pageLength'    : 5,
            'processing'    : true,
            'serverSide'    : true,
            'bInfo'         : false,
            'bSort'         : false,
            'ajax': {
                "type"   : 'GET',
                "url"    : url,
                "dataType": "jsonp",
                "dataSrc": "data"
            },
            'language'      : {
                'url': "{% static 'html5dicom/datatables/i18n/Spanish.json' %}"
            }
        });
    }
</script>
