<table id="table_study" class="table table-striped table-bordered dt-responsive nowrap" cellspacing=0">
    <thead>
        <tr>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all">Documento</th>
            <th class="all">Nombre</th>
            <th class="all">Fecha</th>
            <th class="all">Modalidades</th>
            <th class="all">Descripción</th>
            <th class="none">ReferringPhysicianName</th>
            <th class="none">PatientInsurancePlanCodeSequence</th>
            <th class="none">IssuerOfPatientID</th>
            <th class="none">PatientBirthDate</th>
            <th class="none">PatientSex</th>
            <th class="none">AccessionNumber</th>
            <th class="none">IssuerOfAccessionNumber</th>
            <th class="none">StudyID</th>
            <th class="none">StudyInstanceUID</th>
            <th class="none">StudyTime</th>
            <th class="none">InstitutionName</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Modalidades</th>
            <th>Descripción</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
    </tbody>
</table>
<div id="dialog-series" title="Series" class="container-fluid">
    <table id="table_series" class="table table-striped table-bordered dt-responsive nowrap" cellspacing=0">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Parte</th>
                <th>Serie #</th>
                <th>Nombre Estación</th>
                <th>Fecha</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="dialog-patient" title="Series" class="container-fluid">
    <table id="table_patient" class="table table-striped table-bordered dt-responsive nowrap" cellspacing=0">
        <thead>
        <tr>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all">Documento</th>
            <th class="all">Nombre</th>
            <th class="all">Fecha</th>
            <th class="all">Modalidades</th>
            <th class="all">Descripción</th>
            <th class="none">ReferringPhysicianName</th>
            <th class="none">PatientInsurancePlanCodeSequence</th>
            <th class="none">IssuerOfPatientID</th>
            <th class="none">PatientBirthDate</th>
            <th class="none">PatientSex</th>
            <th class="none">AccessionNumber</th>
            <th class="none">IssuerOfAccessionNumber</th>
            <th class="none">StudyID</th>
            <th class="none">StudyInstanceUID</th>
            <th class="none">StudyTime</th>
            <th class="none">InstitutionName</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>
