<table id="table_study" class="table table-striped table-bordered dt-responsive nowrap" cellspacing=0">
    <thead>
        <tr>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all">Documento</th>
            <th class="all">Nombre</th>
            <th class="all">Fecha</th>
            <th class="all">Modalidades</th>
            <th class="all">Descripción</th>
            <th class="none">ReferringPhysicianName</th>
            <th class="none">PatientInsurancePlanCodeSequence</th>
            <th class="none">IssuerOfPatientID</th>
            <th class="none">PatientBirthDate</th>
            <th class="none">PatientSex</th>
            <th class="none">AccessionNumber</th>
            <th class="none">IssuerOfAccessionNumber</th>
            <th class="none">StudyID</th>
            <th class="none">StudyInstanceUID</th>
            <th class="none">StudyTime</th>
            <th class="none">InstitutionName</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Modalidades</th>
            <th>Descripción</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
    </tbody>
</table>
{% if user_viewer == 'htm' %}
    <p><a class="btn btn-default btn-xs" href=#><span class="glyphicon glyphicon-eye-open"></span></a> <strong>Visualizar estudio</strong>
{% elif user_viewer == 'dow' %}
    <p><a class="btn btn-warning btn-xs" href=#><span class="glyphicon glyphicon-cloud-download"></span></a> <strong>Descargar estudio</strong>
{% elif user_viewer == 'osi' %}
    <p><a class="btn btn-primary btn-xs" href=#><span class="glyphicon glyphicon-eye-open"></span></a> <strong>Visualizar estudio con Osirix</strong>
{% elif user_viewer == 'wea' %}
    <p><a class="btn btn-danger btn-xs" href=#><span class="glyphicon glyphicon-eye-open"></span></a> <strong>Visualizar estudio con weasis</strong>
{% else %}
    <p>
{% endif %}
<a href=#><span class="glyphicon glyphicon-list-alt" title="Solicitud"></span></a> <strong>Ver orden medica</strong>
<a href=#><span class="glyphicon glyphicon-check" title="Informe"></span></a> <strong>Ver informe</strong></p>
<div id="dialog-series" title="Series" class="container-fluid">
    <table id="table_series" class="table table-striped table-bordered dt-responsive nowrap" cellspacing=0">
        <thead>
            <tr>
                <th class="all"></th>
                <th class="all"></th>
                <th class="all">Serie #</th>
                <th class="all">Modalidad</th>
                <th class="all">Fecha</th>
                <th class="all">Hora</th>
                <th class="all">Descripcion</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>Serie #</th>
                <th>Modalidad</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Descripcion</th>
            </tr>
        <tbody>
        </tbody>
    </table>
</div>

<div id="dialog-patient" title="Paciente" class="container-fluid">
    <table id="table_patient" class="table table-striped table-bordered dt-responsive nowrap" cellspacing=0">
        <thead>
            <tr>
                <th class="all"></th>
                <th class="all"></th>
                <th class="all"></th>
                <th class="all">Documento</th>
                <th class="all">Nombre</th>
                <th class="all">Fecha</th>
                <th class="all">Modalidades</th>
                <th class="all">Descripción</th>
                <th class="none">ReferringPhysicianName</th>
                <th class="none">PatientInsurancePlanCodeSequence</th>
                <th class="none">IssuerOfPatientID</th>
                <th class="none">PatientBirthDate</th>
                <th class="none">PatientSex</th>
                <th class="none">AccessionNumber</th>
                <th class="none">IssuerOfAccessionNumber</th>
                <th class="none">StudyID</th>
                <th class="none">StudyInstanceUID</th>
                <th class="none">StudyTime</th>
                <th class="none">InstitutionName</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Modalidades</th>
                <th>Descripción</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>
